.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  /*primary colors*/
  --Bright-Blue: hsl(220, 98%, 61%);
  /*Light theme*/
  /*Dark theme*/
}

.main {
  height: 100%;
  width: 100vw;
}

.card-bg-light {
  background-color: lightgray;
}

.card-bg-dark {
  background-color: rgb(50, 51, 117);
}

.bg-light {
  background-color: white;
  border-radius: 3px;
  color: black;
}
.bg-dark {
  background-color: rgb(29, 25, 25);
  color: white;
}

.main-nav {
  padding-top: 4rem;
}
.main-nav ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  margin-left: 30px;
  padding-bottom: 35px;
  align-items: center;
}
.main-nav a {
  margin: 0px 6px;
}
a {
  text-decoration: none;
}

.header2 ul {
  display: flex;
  list-style: none;
  justify-content: center;

  font-weight: bold;
  cursor: default;
}
.header2 ul li {
  margin: 6px 6px;
}

.card {
  display: block;
  margin: 10px 0;
  width: 309px;
  padding: 20px;
  margin: 45px auto;
}
.avatar-img {
  height: 178px;
  width: 178px;
}

.card-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 20px;
  list-style: none;
}
.card-list li {
  display: flex;
}
.card-text {
  text-align: center;
  padding-top: 15px;
  padding-left: 9px;
}
.player-info {
  display: flex;
  background-color: lightgray;
  width: 20rem;
  align-items: center;
}

[data-button] {
  height: 2rem;
  width: 5rem;
  padding: 0.5rem;
}
[data-button="submit"] {
  background-color: black;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}
[data-button="cross"] {
  display: flex;
  align-items: center;
  border: none;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: 10px;
}
[data-button="cross"] img {
  height: 21px;
  width: 21px;
}

[data-card="player-card-div"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-card-img="battle-img"] {
  height: 177px;
  width: 177px;
  background-color: lightgray;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
